<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- title -->
        <title>Diamond Price Prediction</title>

        <!-- stylesheet -->
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    </head>
    <body>
        <nav class="navbar">
            <div class="container">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/train">Train</a></li>
                </ul>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <!-- script -->
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
